/* rgb(15, 59, 85); */
/* #f8f8f8; */
.nav{
    background: #f8f8f8;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid #f8d7b0;
    font-size: 0.8rem;
}

.App{
    height: 100%;
}

#flexNav > li:nth-child(1) > a{
    color: #cf630a;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
}

.nav ul{
    padding:0;
    margin:0;
    width: 80%;
    margin: auto;
}


.nav ul li{
    list-style-type: none;
    padding: 10px;
}

#flexNav{
    display: flex;
}

#taskForm h3{
    text-align: center;

    padding: 10px;
    border-bottom: 2px solid rgb(255, 163, 183);
    margin-left: auto;
    margin-right: auto;
    color: rgb(233, 114, 114);

}

#loader{
    text-align: center;
}

#taskForm > div > label{
    font-weight: bold;
}

#taskForm > div > input{
    box-sizing: content-box;
    width: 99%;
}

#taskForm button{
    background: rgb(66, 65, 65);
    border: 1px solid rgb(48, 46, 46);
    padding: 8px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 25px;
    color: rgb(238, 238, 238);
    float: right;
}

.input{
    margin-bottom: 1rem;
    
}

#currentDate{
    padding: 5px;
}

.dailyTask > h3{
    color: rgb(233, 76, 162); 
    text-align: center;text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgb(240, 181, 255);
    margin-bottom: 0;
}

.successful{
    color: rgb(33, 214, 33);
    padding: 5px;
    font-weight: bold;
}

.failed{
    color: rgb(65, 11, 11);
}

.displayErrors input:invalid {
    border-color: red;
  }

  table a {
    color: rgba(23, 123, 218, 0.767);
    text-decoration: none;
  }
/* 
  .nav a:visited{
      color: #777;
  } */

  .popup h2{
      margin: 0;
      margin-bottom: 15px;
  }

  .popup{
      text-align: center;
  }

  .popup button{
      font-size: 1.5rem;
      margin-left: 20px;
  }

  .delete button{
    color: rgba(23, 123, 218, 0.767) !important;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .completed button{
    color: rgba(23, 123, 218, 0.767) !important;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #taskTable{
    table-layout:fixed;
    text-align: center;
    width: 100%;
  }

  #taskTable th{
    background-color: rgba(23, 123, 218, 0.767);
  }

  #taskTable thead th, #taskTable tbody td, #taskTable td{
      min-width: 100px;
      border: 1px solid black;
  }

  #taskTable tbody tr td:nth-child(3){
      width: 40%;
  }

  
  #taskTable tbody tr td:nth-child(2){
    width: 20%;
}

.isComplete{
    background-color: rgb(110, 238, 110);
}

#foot{
    text-align: right;
}

#foot span{
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
}

#content{
    width: 80%;
    margin: auto;
    background: white(105, 255, 247);
    padding-top: 1rem;
    display: flow-root;
    height: 100%;
}

#content > div{
    height: 100%;
}

#taskContent{
    float: left;
    width: 20.5%;
    margin-right: 3%;
    margin-left: 1%;
    border-bottom: 2px solid rgb(228, 145, 145);
    padding-bottom:15px;
}

#taskInfo{
    float:left;
    width: 73.5%;
}

#status{
    text-align: center;
    margin-bottom: 15px;
}

#root{
    height:100%;
}

#taskContainer{
    
}

#loader{

}