/* rgb(15, 59, 85); */
/* #f8f8f8; */
.nav{
    background: #f8f8f8;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid #f8d7b0;
    font-size: 0.8rem;
}

.App{
    
}

#flexNav > li:nth-child(1) > a{
    color: #cf630a;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
}

.nav ul{
    padding:0;
    margin:0;
    width: 80%;
    margin: auto;
}


.nav ul li{
    list-style-type: none;
    padding: 10px;
}

#flexNav{
    display: flex;
}

#taskForm{
    display: flow-root;
}

#calcon{

    padding-bottom: 20px;
    border-bottom: 2px solid rgb(228, 145, 145);
}

#taskForm h3{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 163, 183);
    margin-left: auto;
    margin-right: auto;
    color: rgb(233, 114, 114);

}

#loader{
    text-align: center;
}

#taskForm > div > label{
    font-weight: bold;
}

#taskForm > div > input{
    box-sizing: content-box;
    width: 99%;
}

#taskForm button{
    background: rgb(66, 65, 65);
    border: 1px solid rgb(48, 46, 46);
    padding: 8px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 25px;
    color: rgb(238, 238, 238);
    float: right;
}

.input{
    margin-bottom: 1rem;
    
}

#currentDate{
    padding: 5px;
}

.dailyTask > h3{
    color: rgb(233, 76, 162); 
    text-align: center;text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgb(240, 181, 255);
    margin-bottom: 0;
}

.successful{
    color: rgb(33, 214, 33);
    padding: 5px;
    font-weight: bold;
}

.failed{
    color: rgb(65, 11, 11);
}

.displayErrors input:invalid {
    border-color: red;
  }


  .nav a:visited{
    color: #f722d3;
  } */

  .popup h2{
      margin: 0;
      margin-bottom: 15px;
  }

  .popup{
      text-align: center;
  }

  .popup button{
      font-size: 1.5rem;
      margin-left: 20px;
  }

  .delete button{
    color: rgba(23, 123, 218, 0.767) !important;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .completed button{
    color: rgba(23, 123, 218, 0.767) !important;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }



.isComplete{
    background-color: rgb(110, 238, 110);
}


#content{
    width: 80%;
    margin: auto;
    background: white(105, 255, 247);
    padding-top: 1rem;
    display: flow-root;
}


#content > div{
    display: flow-root;
    margin-bottom: 5rem;
}

#taskContent{
    float: left;
    width: 20.5%;
    margin-right: 3%;
    margin-left: 1%;
    border-bottom: 2px solid rgb(228, 145, 145);
    padding-bottom:15px;
    position: sticky;
    top: 0;
}

#taskInfo{
    float:left;
    width: 73.5%;
}

#status{
    text-align: center;
    margin-bottom: 15px;
}

#root{
  
}

#taskContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

#loader{

}

#taskcon{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(228, 145, 145);
}

#footer{
    background: rgb(37, 35, 35);
    height: 100px;
    border-top: 2px solid #f8d7b0;
    position: absolute;
    right: 0;
    left: 0;
    bottom:-100px;
}

#taskForm button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.show{
    display: block;
    
}

.hidden{
    display: none;
}

#progression{
    width: 30%;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: bold;
    border: 3px solid #f8d7b0;
}

.hasTask{
    background: rgb(235, 231, 30) !important;
}

#export{
    display: inline-block;
    margin-right: 1rem;
    width: 75%;
}

@media only screen and (max-width: 1200px) {
    #taskInfo {
        float: none;
        clear: both;
        width: 100%;
    }

    #taskContent{
        float:none;
        position: relative;
        width: 100%;
        margin-bottom: 5rem !important;
    }

    #calcon{
        text-align: center;
    }

    .react-calendar{
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
   #children button, #children a{
       font-size: 0.7rem !important;
       padding: 5px !important;
   }

   #taskContainer{
       display: block !important;
   }

   .taskEntry{
       padding-top: 0.5rem;
       margin-bottom: 1rem;
       height: 250px;
   
   }

   .taskEntryCompleted{
        padding-top: 0.5rem;
        margin-bottom: 1rem;
        height: 250px;
   }
}

#login{ 
    display: flex;
    float: right;
    flex-grow: 1;
    justify-content: flex-end;
    color: #f722d3;
}

#login:visited{
    color: #f722d3;
}