.taskEntry, .taskEntryCompleted{
    background: #01a9c7;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-top: 1rem;
    color: white;
    margin-bottom: 1rem;
    position: relative;
    line-height: 1.6;
    border-bottom: rgb(90, 6, 79) 10px solid;
}

.taskEntryCompleted h4, .taskEntryCompleted p{
 
}

#children{
    display: flex;
    justify-content: flex-end;
}


#children button, #children a{
    background: rgb(107, 12, 94);
    display: inline-block;
    width: 110px;
    text-align: center;
    font-size: 0.8rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 0.5rem;
    color: white;
    border-radius: 15px;
}

#children button:hover{
    opacity: 0.8;
}

#children a{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

div > span {
    padding: 8px;
    color: white;
}

.ongoing, .done{
    background: #ec7404;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    font-weight: bold;
}

.done{
    background: rgb(16, 117, 58);
}

.subTitle{
    font-weight: bold;
    font-style: italic;
}

.content{
    font-size: 1.3rem;
}

#taskTitle{
    color: rgb(138, 1, 119);
    font-size: 2rem;
    font-family: "Gotham";
}

#taskDetail{
    color: white;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}